.header {
    border-bottom: 1px solid $gray-300;
    box-shadow: 0px 3px 6px $gray-400;
}
.cart-container{
    position: relative;
    .shopping-cart{
        width: 40px;
        height: 40px;
    }
    .shopping-count{
        position: absolute;
        top: -6px;
        right: -10px;
        color: white;
        background-color: skyblue;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}